$primary-100: #98fb98;
$primary-200: #79dc7b;
$primary-300: #2f963c;
$accent-100: #ffc0cb;
$accent-200: #99616c;
$text-100: #333333;
$text-200: #5c5c5c;
$bg-100: #f0fff0;
$bg-200: #e6f5e6;
$bg-300: #bdccbd;
